.button-icon-container {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 4px;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .button-icon-container {
    height: 65px;
  }
}
