.home-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
}

.auth-banner-container {
  display: none;
}

.auth-login-container {
  width: 480px;
  padding: 20px;
}

@media (min-width: 576px) {
  .auth-login-container {
    padding: 40px 0;
  }
}

@media (min-width: 1200px) {
  .auth-banner-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    color: #fff;
  }

  .auth-banner-container h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }

  .auth-banner-container p {
    font-size: 22px;
    margin-bottom: 50px;
  }
}
